## _Medical Insurance Costs_

Pada kasus ini, terdapat data tentang informasi kesehatan dan biaya yang harus dikeluarkan oleh asuransi kesehatan. Infomasi terkait dengan data _medical insurance cost_ adalah sebagai berikut,

1. Age: Usia penerima manfaat
2. Sex: Gender penerima manfaat (_male_, _femele_)
3. Bmi : Body Mass Index
4. Children: Jumlah anak/tanggungan yang dicover oleh pihak asuransi
5. Smoker: Status perokok (_yes_, _no_)
6. Region: Wilayah tempat tinggal penerima manfaat
7. Charges: Biaya yang dikeluarkan oleh asuransi

### Tantangan

Buatlah model regresi untuk memprediksi biaya yang harus dikeluarkan oleh pihak asuransi berdasarkan data. Validasi performa model regresi Anda dengan nilai ***R-squared ($R^2$)***

#### _Tasks_

1. Pastikan semua variabel kategorial diolah dengan baik. (Gunakan fitur mapping pada pandas)
2. Cek kondisi multicollinearity untuk semua variabel independen. Jika ada, antar variabel apakah itu?
3. Pastikan model menggunakan variabel yang tidak memiliki nilai multicollinearity yang tinggi
4. (Hints) Anda dapat menggunakan nilai ***Variance Inflation Factor (VIF)*** untuk mengetahui tingkat multicollinearity pada sebuah variabel independent.
5. Evaluasi model yang Anda buat dengan nilai $R^2$
6. Simpulkan, variabel independen apa saja yang dapat digunakan untuk menghasilkan model regresi yang baik pada kasus _medical insurance costs_?

#### Penyelesaian

In [1]:
# Import data yang akan digunakan dalam percobaan
import pandas as pd

df = pd.read_csv('data/insurance.csv')

display(df.head())

display(df.corr())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [2]:
# Lakukan Mapping pada data sex, smoker, dan region

# Mapping untuk data sex
label_for_sex = {
    'male' : 1,
    'female' : 0
}

df['sex'] = df['sex'].map(label_for_sex)

df.head()

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [3]:
# Mapping untuk data smoker
label_for_smoker = {
    'yes' : 1,
    'no' : 0
}

df['smoker'] = df['smoker'].map(label_for_smoker)

df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [4]:
# Mapping untuk data region
label_for_region = {
    'northwest' : 3,
    'northeast' : 0,
    'southeast' : 1,
    'southwest' : 2
}

df['region'] = df['region'].map(label_for_region)

df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       2  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [5]:
# Dapat dilihat pada tabel, value dari sex, smoker, dan region telah berubah sesuai
# dengan mapping yang telah dilakukan.
 
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       2  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [6]:
# Selanjutnya menentukan nilai VIF terhadap beberapa variabel independent
# yaitu age, sex, bmi, children, smoker, dan region

from statsmodels.stats.outliers_influence import variance_inflation_factor
  
X = df[['age', 'sex', 'bmi', 'children', 'smoker', 'region']]
  
data_vif = pd.DataFrame()
data_vif["Features"] = X.columns
  
data_vif["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
data_vif

   Features       VIF
0       age  7.656609
1       sex  2.003030
2       bmi  9.501583
3  children  1.808837
4    smoker  1.257280
5    region  2.623906

In [7]:
# Berdasarkan data tersebut, data BMI dan Age memiliki nilai multicollinearity diatas 5
# Model yang akan dibuat, diharapkan untuk tidak memiliki nilai multicollinearity yang tinggi
# Oleh karena itu, lakukan drop terhadap BMI dan Age terlebih dahulu

df1 = df.copy()
df1 = df1.drop(df1.columns[0], axis=1)
df1 = df1.drop(df1.columns[2], axis=1)

df1.head()

   sex     bmi  smoker  region      charges
0    0  27.900       1       2  16884.92400
1    1  33.770       0       1   1725.55230
2    1  33.000       0       1   4449.46200
3    1  22.705       0       3  21984.47061
4    1  28.880       0       3   3866.85520

In [8]:
# Melakukan perhitungan R2 Score terhadap model

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

dftest1 = df1.copy()

dftest1

      sex     bmi  smoker  region      charges
0       0  27.900       1       2  16884.92400
1       1  33.770       0       1   1725.55230
2       1  33.000       0       1   4449.46200
3       1  22.705       0       3  21984.47061
4       1  28.880       0       3   3866.85520
...   ...     ...     ...     ...          ...
1333    1  30.970       0       3  10600.54830
1334    0  31.920       0       0   2205.98080
1335    0  36.850       0       1   1629.83350
1336    0  25.800       0       2   2007.94500
1337    0  29.070       1       3  29141.36030

[1338 rows x 5 columns]

In [9]:
X = dftest1.iloc[:, :-1]
y = dftest1.iloc[:, 4]

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2, random_state=50)

In [10]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

In [11]:
combine = np.concatenate((y_test, y_pred))
combine

array([ 5976.8311    ,  5846.9176    , 13831.1152    , ...,
       30127.72587159,  7258.89670111,  7361.88170033])

In [12]:
from sklearn.metrics import r2_score

rscore = r2_score(y_test, y_pred)

print('Hasil R2 : ', rscore)

Hasil R2 :  0.6498290218230921

In [13]:
# Melakukan perhitungan R2 Score terhadap model dengan seluruh variabel independent

dftest2 = df.copy()

dftest2

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       2  16884.92400
1      18    1  33.770         1       0       1   1725.55230
2      28    1  33.000         3       0       1   4449.46200
3      33    1  22.705         0       0       3  21984.47061
4      32    1  28.880         0       0       3   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       3  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       1   1629.83350
1336   21    0  25.800         0       0       2   2007.94500
1337   61    0  29.070         0       1       3  29141.36030

[1338 rows x 7 columns]

In [14]:
X2 = dftest2.iloc[:, :-1].values
y2 = dftest2.iloc[:, 6].values

X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X2, y2, test_size=0.2, random_state=50)

In [15]:
y2 = y2.reshape(len(y), 1)
y2.shape

(1338, 1)

In [16]:
lr2 = LinearRegression()
lr2.fit(X_train_2, y_train_2)

y_pred_2 = lr2.predict(X_test_2)

In [17]:
combine2 = np.concatenate((y_test_2, y_pred_2))
combine2

array([ 5.97683110e+03,  5.84691760e+03,  1.38311152e+04,  9.62592000e+03,
        2.68094930e+03,  4.78967913e+04,  1.82234512e+04,  7.41947790e+03,
        3.73262510e+03,  1.22228983e+04,  7.05002130e+03,  2.19786769e+04,
        6.28223500e+03,  3.77018768e+04,  7.04672220e+03,  1.20323260e+04,
        1.31126048e+04,  4.23989265e+03,  1.23338280e+04,  3.41032400e+03,
        1.72778500e+03,  4.46411974e+04,  1.71284261e+04,  6.11235295e+03,
        4.52947700e+03,  1.05945016e+04,  6.40229135e+03,  4.61511245e+04,
        1.71102680e+03,  1.70470015e+03,  4.58632050e+04,  4.68779700e+03,
        1.50197601e+04,  3.18051010e+03,  3.86120965e+03,  3.44306400e+03,
        2.71179938e+04,  2.70924395e+03,  1.34511220e+04,  4.79280300e+04,
        2.35630162e+04,  6.71019190e+03,  1.42350720e+04,  1.40011338e+04,
        2.72184372e+04,  1.33905590e+04,  4.10342214e+04,  2.02017700e+03,
        1.42561928e+04,  2.12321823e+04,  4.86755177e+04,  6.98669700e+03,
        4.14973600e+03,  3.09421918e+04,  8.02313545e+03,  4.21245153e+04,
        1.18371600e+04,  6.64054485e+03,  6.66624300e+03,  1.08481343e+04,
        1.43943982e+04,  7.20170085e+03,  1.97781500e+03,  1.63573365e+03,
        7.25672310e+03,  8.53828845e+03,  3.85775925e+03,  9.88006800e+03,
        4.88386600e+03,  2.17970004e+04,  1.38809490e+04,  4.77960230e+03,
        3.48186800e+03,  5.39761670e+03,  9.58389330e+03,  1.70810800e+04,
        6.60036100e+03,  9.71584100e+03,  2.43936224e+04,  1.63182120e+03,
        2.85068375e+03,  1.82464955e+04,  2.45750200e+03,  1.29287911e+04,
        1.96702270e+03,  2.64326850e+03,  1.19871682e+04,  4.87798105e+03,
        3.04606200e+03,  4.54423480e+03,  3.73646470e+03,  8.59682780e+03,
        3.75662160e+03,  3.60210112e+04,  2.45202640e+04,  1.13059345e+04,
        7.51226700e+03,  1.20944780e+04,  1.62978460e+04,  2.32889284e+04,
        2.46716633e+04,  2.20109710e+03,  4.39211837e+04,  1.43827090e+04,
        1.71795220e+04,  8.54769130e+03,  3.87091760e+04,  9.95772160e+03,
        9.91035985e+03,  5.64971500e+03,  5.48826200e+03,  8.98815875e+03,
        1.82684300e+03,  1.83728190e+03,  1.63956310e+03,  4.93470500e+03,
        5.42502335e+03,  2.89231369e+04,  1.42105359e+04,  2.41069126e+04,
        1.52631200e+03,  5.32740025e+03,  1.13639940e+03,  1.62543375e+03,
        1.18819696e+04,  4.53625900e+03,  7.28150560e+03,  8.83526495e+03,
        8.06276400e+03,  3.59148000e+03,  4.86735588e+04,  1.12891092e+04,
        4.62009851e+04,  2.42273372e+04,  2.02348547e+04,  2.48698368e+04,
        2.00096336e+04,  6.55507035e+03,  8.27752300e+03,  4.57141305e+03,
        1.26221795e+04,  4.18509790e+03,  5.31216985e+03,  1.88047524e+04,
        6.74859120e+03,  7.16201220e+03,  5.24522690e+03,  8.51575870e+03,
        6.85847960e+03,  4.34946200e+03,  4.09741649e+04,  4.43391590e+03,
        1.98007000e+03,  5.11945591e+04,  2.02697410e+03,  2.73460421e+04,
        1.31266774e+04,  2.04629977e+04,  2.02968635e+04,  1.22445310e+04,
        7.74033700e+03,  9.77834720e+03,  5.58430570e+03,  1.09593300e+04,
        2.72132080e+03,  5.00385300e+03,  6.79686325e+03,  1.76953165e+03,
        2.13487060e+04,  1.62218850e+03,  4.88851356e+04,  2.24936596e+04,
        1.26298967e+04,  7.33774800e+03,  3.99834259e+04,  1.39152870e+03,
        4.10971617e+04,  7.68267000e+03,  3.71651638e+04,  9.56302900e+03,
        1.02146360e+04,  1.26462070e+04,  5.69983750e+03,  1.10137119e+04,
        1.94423535e+04,  4.44238030e+04,  4.27605022e+04,  9.30189355e+03,
        3.98365190e+04,  1.01567832e+04,  4.43338770e+03,  3.77425757e+04,
        8.78246900e+03,  1.15124050e+04,  2.55171136e+04,  1.08068390e+04,
        3.97742763e+04,  5.38533790e+03,  2.12843105e+03,  3.72701512e+04,
        3.33075508e+04,  1.29571180e+04,  7.72725320e+03,  1.18564115e+04,
        5.72900530e+03,  1.58206990e+04,  9.44738240e+03,  1.26381950e+04,
        4.42607499e+04,  1.09772063e+04,  1.91077796e+04,  1.49884320e+04,
        9.63039700e+03,  4.72698540e+04,  1.30638830e+04,  1.82428540e+03,
        1.17630009e+04,  9.86102500e+03,  3.69502567e+04,  2.10308000e+03,
        2.19818985e+03,  3.84154740e+04,  8.62754110e+03,  4.23712655e+03,
        4.44121315e+03,  9.87270100e+03,  3.21086628e+04,  2.08787844e+04,
        2.69956835e+03,  7.73185785e+03,  2.10821600e+04,  2.73010785e+03,
        1.13267149e+04,  3.92575820e+03,  3.82827495e+04,  1.22358392e+04,
        1.01150089e+04,  8.93208400e+03,  1.40012867e+04,  3.55955898e+04,
        1.52303240e+04,  6.05917300e+03,  2.16673200e+03,  8.94411510e+03,
        4.05811610e+03,  1.23239360e+04,  3.37326867e+04,  5.37503800e+03,
        1.97295000e+03,  1.07044700e+04,  1.18426238e+04,  3.86685520e+03,
        6.12879745e+03,  1.10705350e+04,  1.05604917e+04,  1.19382560e+04,
        1.27411675e+04,  1.17296795e+04,  2.36222905e+03,  9.50057305e+03,
        6.18429940e+03,  1.38879685e+04,  1.32246930e+04,  3.39236520e+03,
        4.93164700e+03,  9.72453000e+03,  3.65802822e+04,  3.71338982e+04,
        8.02669491e+03,  1.16938407e+04,  1.71786170e+04,  1.13687219e+04,
        4.67609884e+02,  3.87045302e+04,  2.62413412e+04,  7.89114229e+03,
        7.64340489e+02,  1.16795655e+04,  9.23505349e+03,  3.20389021e+04,
        8.15323277e+03,  3.08375213e+04,  7.61558919e+03,  9.55980129e+03,
        1.16167569e+04,  4.77694453e+03,  1.23046130e+04,  8.74838942e+03,
       -1.22879102e+03,  3.65374536e+04,  6.53621123e+03,  8.97898395e+03,
        4.31574332e+03,  1.09692130e+04,  5.35105861e+03,  3.79991539e+04,
        5.29104947e+02, -3.93428374e+01,  3.72628449e+04,  4.33743188e+03,
        1.46054920e+04,  1.36853647e+03,  1.11298477e+03,  6.09495004e+03,
        9.30224165e+03,  1.41540873e+03,  1.19443733e+04,  3.91617990e+04,
        9.68824527e+03,  6.78513321e+03,  1.70073442e+04,  1.32724110e+04,
        3.52055455e+04,  1.39302242e+04,  3.39789701e+04,  4.58596872e+03,
        1.26466707e+04,  9.74933525e+03,  3.98559896e+04,  9.49978725e+03,
        6.60275122e+03,  3.79738009e+04,  1.16535772e+04,  3.52230801e+04,
        1.09937604e+04,  3.91030773e+03,  1.21456900e+04,  1.37684916e+04,
        1.34694008e+04,  7.45548672e+03,  3.57174222e+03,  1.90502761e+03,
        9.21297345e+03,  1.03640638e+04,  5.71671612e+03,  1.41684121e+04,
        5.73379540e+03,  1.50016528e+04,  1.43462428e+04,  5.99485843e+03,
        3.56420413e+03,  9.82013498e+03,  1.22304916e+04,  2.55880331e+04,
        8.67812632e+03,  9.38294791e+03,  3.36182301e+04,  4.92489598e+03,
        3.93267720e+03,  2.77207188e+04,  1.55499215e+03,  1.40274229e+04,
        1.99830658e+03,  4.20672752e+03,  1.41047497e+04,  4.78877623e+03,
        2.69197734e+03,  2.79864120e+03,  3.96932743e+03,  1.11502443e+04,
        4.25781375e+03,  2.88154796e+04,  3.36546406e+04,  1.12466428e+04,
        9.19150387e+03,  1.05772988e+04,  2.52983921e+04,  3.41623227e+03,
        5.88257017e+03,  8.72456429e+02,  3.66130005e+04,  1.30753592e+04,
        2.84923035e+04,  9.89070254e+03,  3.23440392e+04,  1.02260455e+04,
        1.10132228e+04,  8.57937692e+03,  8.08795831e+03,  1.02689374e+04,
        4.92960613e+03,  7.23895007e+03,  2.77545328e+03,  5.20177692e+03,
        7.25934832e+03,  1.17662608e+04,  1.64918520e+04,  3.29496410e+04,
        3.38009016e+03,  7.46888157e+03,  3.36516016e+03, -4.36117309e+02,
        1.25923883e+04,  1.08338901e+04,  7.82961165e+03,  1.11426655e+04,
        1.07797392e+04,  5.68491809e+03,  3.98032430e+04,  1.31220711e+04,
        3.76480758e+04,  1.62097890e+04,  2.96197505e+04,  3.37599910e+04,
        2.96370016e+04,  6.88119140e+03,  9.62824908e+03,  5.19323182e+03,
        1.32536617e+04,  4.31291467e+03,  5.09833779e+03,  6.13551855e+03,
        7.64607665e+03,  1.14217040e+04,  8.37846651e+03,  9.32805357e+03,
        6.49095427e+03,  6.65282700e+03,  3.43943902e+04,  6.65180339e+03,
        4.15773890e+03,  3.07589640e+04,  6.06753943e+03,  1.15060939e+04,
        3.00763925e+03,  1.50185694e+04,  2.95868891e+04,  1.43432553e+04,
        1.19667246e+04,  1.07796890e+04,  9.03215556e+03,  1.01663194e+04,
        2.72529442e+03,  6.06842734e+03,  8.72002142e+03,  2.75877159e+03,
        3.09436831e+04,  2.73540417e+03,  3.49445113e+04,  2.58655069e+03,
        1.12255834e+04,  9.10774659e+03,  3.28331066e+04,  3.76779947e+03,
        3.43318330e+04,  1.01250375e+04,  2.95603179e+04,  1.25266887e+04,
        1.16182713e+04,  1.56460042e+04,  9.15976575e+03,  9.35429467e+03,
        7.04199421e+03,  3.68288660e+04,  3.55870975e+04,  9.38028248e+03,
        3.30653875e+04,  8.99950643e+03,  6.53174468e+03,  3.16699567e+04,
        9.18272175e+03,  1.25271759e+04,  1.02660445e+04,  1.28938154e+04,
        3.24916310e+04,  5.78744377e+03,  2.84551322e+03,  3.08068908e+04,
        2.61948521e+04,  1.07069003e+04,  1.06497598e+04,  1.53061892e+04,
        9.01291684e+03,  2.74600204e+04,  9.44571018e+03,  1.31751644e+04,
        3.70241676e+04,  1.55129423e+04,  2.83762076e+04,  1.34023770e+04,
        1.19708960e+04,  3.89152816e+04,  1.76938586e+04,  4.28487383e+03,
        1.28739728e+04,  9.83997953e+03,  3.04967926e+04,  1.03058868e+03,
        1.08123084e+03,  3.22695409e+04,  6.51092281e+03,  4.87357222e+03,
        4.88690520e+03,  1.24939090e+04,  9.51300646e+03,  1.06523789e+04,
        4.69967954e+03,  1.11160459e+04,  3.09877723e+04,  6.15772793e+03,
        1.03780289e+04,  5.56792066e+03,  3.17574571e+04,  1.46210039e+04,
        1.23150698e+04,  9.09253475e+03,  1.33071649e+04,  2.84367733e+04,
        1.68164802e+04,  7.60761261e+03,  5.28174071e+03,  1.49862953e+04,
        8.16160248e+03,  1.08623735e+04,  2.61914052e+04,  7.95188002e+03,
        2.46593828e+03,  1.19079123e+04,  1.28968343e+04,  5.53004440e+03,
        8.27319627e+03,  1.05184540e+04,  1.29171789e+04,  1.23797891e+04,
        1.49877174e+04,  1.00032100e+04,  4.02998816e+03,  8.88994958e+03,
        7.42270453e+03,  1.58783645e+04,  1.30372708e+04,  4.60299778e+03,
        4.50670015e+03,  1.13835089e+04,  1.59825632e+04,  3.00102852e+04])

In [18]:
rscore2 = r2_score(y_test_2, y_pred_2)

print('Hasil R2 : ', rscore2)

Hasil R2 :  0.7835627749480735

## Kesimpulan

Berdasarkan hasil percobaan tersebut, menunjukkan bahwa Hasil R2 Score dengan menguji semua independent variable memiliki score yang lebih baik (lebih mendekati 1) dari pada hasil R2 Score dengan menggunakan 4 variabel independent saja. Berikut Hasilnya :

- R2 Score (4 Variable) : 0.6498290218230921
- R2 Score (Semua Variable) : 0.7835627749480735